@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

.banner {
    width: 100%;
    position: fixed;
    z-index: 0;
    margin-top: 11vh;
}

.bannerHeading {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    width: 90%;
    margin: 8vh auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.bannerUL {
    list-style: none;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    letter-spacing: -0.2vh;
    line-height: 6.3vw;
}

.webDesign {
    margin-right: 22vw;
}

.graphicDesign {
    margin-left: 1vw;
}

.socialMedia {
    margin-right: 20.5vw;
}

.adManagement {
    margin-left: 10vw;
}

.viranda {
    text-align: center;
    font-weight: 500;
    font-size: 1.5vw;
}

.viranda {
    margin-right: 64.5vw;
}

.getQuote {
    width: 80%;
    height: 30vh;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 5vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.moreClients {
    text-align: center;
}

.contactUs {
    margin-top: 3vh;
    background-color: red;
    color: white;
    font-size: 3.25vh;
    border: none;
    padding: 1.5vh 2.5vh;
    border-radius: 40px;
    transition: scale 0.2s;
}

.contactUs:hover {
    scale: 0.95;
}

.bannerWrapper {
    height: 200vh;
    width: 100%;
}

.bannerWrapperMobile {
    position: fixed;
    height: 100vh;
    width: 100%;
}

@media (max-width: 795px) {
    .bannerHeading {
        width: 100%;
    }

    .viranda {
        font-size: 3.5vw;
        margin-right: 70vw;
    }

    .bannerUL {
        transform: translateY(-5vh);
        list-style: none;
        text-align: center;
        font-weight: 700;
        font-size: 13.5vw;
        letter-spacing: -0.1vh;
        line-height: 10.45vw;
        width: 100%;
        margin: 0 auto;
    }

    .webDesign {
        margin: 0 auto;
        font-size: 20vw;
        line-height: 10.5vw;
    }

    .webDesign2 {
        margin: 0 auto;
        font-size: 24.5vw;
        line-height: 24.5vw;
        margin-bottom: 0.5vh;
    }

    .graphicDesign {
        margin: 0 auto;
        font-size: 20vw;
        line-height: 11vw;
    }

    .graphicDesign2 {
        margin: 0 auto;
        font-size: 24.5vw;
        line-height: 24.5vw;
        margin-bottom: 0.5vh;
    }

    .socialMedia {
        margin: 0 auto;
        font-size: 25vw;
        line-height: 14.5vw;
    }

    .socialMedia2 {
        margin: 0 auto;
        margin-bottom: 0vh;
        font-size: 29.5vw;
        line-height: 28.5vw;
    }

    .adManagement {
        margin: 0 auto;
        font-size: 22.8vw;
        line-height: 16vw;
    }

    .adManagement2 {
        margin: 0 auto;
        font-size: 13vw;
        letter-spacing: -0.1vh;
        line-height: 10.45vw;
    }
}

.bannerMobileTopSection {
    padding-top: 14vh;
    width: 70%;
    margin-left: 4vw;
    background-color: transparent;
}

.bannerMobileViranda {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 700;
    font-size: 7vh;
    letter-spacing: -0.2vh;
    line-height: 5vh;
    background-color: transparent;
}

.bannerMobileCopy {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    line-height: 3vh;
    margin-top: 3vh;
    background-color: transparent;
}

.bannerMobileDigital {
    transform: rotate(270deg);
    z-index: 999;
    background-color: transparent;
}

.bannerMobileDigitalWrapper {
    height: 74vh;
    position: absolute;
    right: 2.5vw;
    top: 13vh;
    z-index: 999;
    background-color: transparent;
}

.bannerMobileCircle {
    width: 230vw;
    position: absolute;
    transform: translateX(-90vw) translateY(3vh);
    z-index: -1;
    height: 230vw;
    background: red;
    border-radius: 50%;
}

.bannerMobileClickHere {
    width: 45%;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    line-height: 2vh;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 55vh;
}

.bannerMobileArrow {
    color: white;
    font-size: 23vh;
    background-color: transparent;
    position: absolute;
    bottom: 4vh;
    z-index: 999;
    left: 0;
}