@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

.banner {
    width: 100%;
    position: fixed;
    z-index: 0;
    margin-top: 11vh;
}

.bannerHeading {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    width: 90%;
    margin: 8vh auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.bannerUL {
    list-style: none;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    letter-spacing: -0.2vh;
    line-height: 6.3vw;
}

.webDesign {
    margin-right: 22vw;
}

.graphicDesign {
    margin-left: 1vw;
}

.socialMedia {
    margin-right: 20.5vw;
}

.adManagement {
    margin-left: 10vw;
}

.viranda {
    text-align: center;
    font-weight: 500;
    font-size: 1.5vw;
}

.viranda {
    margin-right: 64.5vw;
}

.getQuote {
    width: 80%;
    height: 30vh;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 5vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.moreClients {
    text-align: center;
}

.contactUs {
    margin-top: 3vh;
    background-color: red;
    color: white;
    font-size: 3.25vh;
    border: none;
    padding: 1.5vh 2.5vh;
    border-radius: 40px;
    transition: scale 0.2s;
}

.contactUs:hover {
    scale: 0.95;
}

.bannerWrapper {
    height: 200vh;
}

@media (max-width: 795px) {
    .bannerUL {
        list-style: none;
        text-align: center;
        font-weight: 700;
        font-size: 13.5vw;
        letter-spacing: -0.1vh;
        line-height: 9.45vw;
        width: 95%;
        margin: 0;
    }

    .webDesign {
        margin-right: 50vw;
    }

    .webDesign2 {
        margin-left: 0;
        margin-right: 19vw;
        margin-bottom: 3vh;
    }

    .graphicDesign2 {
        margin-left: 25vw;
        margin-bottom: 3vh;
    }

    .socialMedia {
        margin-right: 30vw;
    }

    .socialMedia2 {
        margin-right: 10;
        margin-bottom: 3vh;
    }

    .adManagement2 {
        margin: 0;
    }
}