.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerColumns {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footerLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerRight {
    width: 50%;
}

.footerContactInfo {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 1.3rem;
    text-align: left;
    text-decoration: none;
}

.footerViranda {
    color: black;
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: transparent;
}

.footerContactHeading {
    text-align: left!important;
}

.footerLogo {
    width: 20vw;
}
