.Hero2 {
    width: 100%;
    background-color: rgb(14, 14, 14);
    display: flex;
    opacity: 0;
    animation: fadeInHero2 0.5s forwards ease;
    align-items: center;
    padding-top: 30vh;
}

@keyframes fadeInHero2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero2Left {
    width: 100%;
    background-color: rgb(14, 14, 14);
}

.hero2LeftHeading {
    width: 100%;
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 700;
    font-size: 5.8vw;
    letter-spacing: -0.1vw;
    line-height: 5vw;
    padding-top: 5%;
    text-align: center;
}

.hero2ButtonGroup {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    background-color: rgb(14, 14, 14);
    display: flex;
    gap: 30px;
}

.hero2OurServices, .hero2ContactUs {
    background-color: red;
    color: white;
    font-size: 1.5vw;
    border: none;
    padding: 0.8vw 1.5vw;
    border-radius: 60px;
    transition: scale 0.2s;
}

.hero2OurServices:hover, .hero2ContactUs:hover {
    scale: 0.95;
    cursor: pointer;
}

.hero2Right {
    width: 0%;
    background-color: rgb(14, 14, 14);
    height: 100vh;
}

.hero2Paragraph {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    background-color: rgb(14, 14, 14);
    margin-bottom: 3%;
}

.hero2TaglinesGroup {
    display: flex;
    width: 100%;
    background-color: rgb(14, 14, 14);
    justify-content: center;
}

.hero2TaglineGroup {
    width: 25%;
    margin-top: 5vh;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.circle {
    background-color: rgb(14, 14, 14);
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
}

.hero2Taglines {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 1.15vw;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
    background-color: rgb(14, 14, 14);
    margin-bottom: 3%;
    margin-top: 3%;
}

@media (width < 840px) {
    .hero2LeftHeading {
        font-size: 4rem;
        line-height: 3.7rem;
        margin-bottom: 3vh;
    }

    .circle {
        height: 10vh;
        width: 10vh;
    }

    .hero2TaglinesGroup {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .hero2TaglineGroup {
        margin: 2vh;
        width: 80%;
    }

    .hero2Taglines {
        width: 100%;
        font-size: 1.3rem;
    }

    .hero2Paragraph {
        margin-top: 1vh;
        margin-bottom: 6vh;
        font-size: 1.3rem;
        line-height: 1.3rem;
        letter-spacing: 0.8px;
        text-align: left;
    }

    .hero2ButtonGroup {
        flex-direction: column;
        align-items: center;
    }

    .hero2OurServices, .hero2ContactUs {
        background-color: white;
        color: black;
        width: 90%;
        font-size: 1.3rem;
        line-height: 1.3rem;
        border-radius: 0;
        padding: 10px 10px;
    }
}

@media (width < 650px) {
    .hero2LeftHeading {
        font-size: 3.2rem;
        line-height: 3rem;
        margin-bottom: 3vh;
    }
}