.HomepageServices {
    width: 100%;
    background-color: black;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.homepageOurServices {
    background-color: black;
    color: white;
    font-family: "Instrument Sans";
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: -0.08rem;
    line-height: 4rem;
    text-align: center;
}

.homepageServicesServiceButton {
    background-color: red;
    color: white;
    font-size: 1.5vw;
    border: none;
    padding: 0.8vw 1.5vw;
    border-radius: 60px;
    transition: scale 0.2s;
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    background-color: red;
    transition: scale 0.2s;
}

.homepageServicesServiceButton:hover {
    cursor: pointer;
    scale: 0.95;
}

.homepageServiceParagraph {
    font-family: 'Instrument Sans';
    font-weight: 400;
    font-size: 1.5vw;
    opacity: 0.9;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.homepageServiceHeading {
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 1.9vw;
    text-align: center;
    color: white;
    background-color: black;
}

.homepageServicesColumns {
    width: 87%;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.spaceEvenly {
    justify-content: center!important;
    gap: 2%;
}

.homepageService {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    background-color: black;
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}