.HomepageServices {
    width: 100%;
    background-color: rgb(14, 14, 14);
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.homepageOurServices {
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: -0.08rem;
    line-height: 4rem;
    text-align: center;
}

.homepageServicesServiceButton {
    background-color: red;
    color: white;
    font-size: 1.5vw;
    border: none;
    padding: 0.8vw 1.5vw;
    border-radius: 60px;
    transition: scale 0.2s;
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    background-color: red;
    transition: scale 0.2s;
}

.homepageServicesServiceButton:hover {
    cursor: pointer;
    scale: 0.95;
}

.homepageServiceParagraph {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    opacity: 0.9;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 14);
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.homepageServiceHeading {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-size: 1.9vw;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 14);
}

.bentoLogos {
    font-size: 1.9vw;
    text-align: left;
    color: rgb(255, 100, 100);
    background-color: rgb(14, 14, 14);
}

.bentoLogo {
    color: rgb(255, 100, 100);
    margin-bottom: 2vh;
    background-color: rgb(14, 14, 14);
}

.homepageServicesColumns {
    width: 87%;
    margin: 0 auto;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.homepageServicesBentoColumns {
    width: 87%;
    margin: 0 auto;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
}

.bentoTop {
    background-color: rgb(14, 14, 14);
    display: flex;
}

.bentoTopLeft {
    background-color: rgb(14, 14, 14);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin: 10px;
}

.bentoTopRight {
    background-color: rgb(14, 14, 14);
    width: 50%;
    margin: 10px;
}

.bentoTopRightTop {
    display: flex;
    background-color: rgb(14, 14, 14);
}

.bentoTopRightBottom {
    width: 100%;
    background-color: rgb(14, 14, 14);
    display: flex;
}

.bentoTopRightBottomLeft {
    width: 50%;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.bentoTopRightBottomRight {
    width: 50%;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.bentoTopRightLeft {
    width: 50%;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bentoTopRightRight {
    width: 50%;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.bentoBottom {
    background-color: rgb(14, 14, 14);
    width: 100%;
    display: flex;
}

.bentoBottomSingle {
    width: 25%;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin: 10px;
}

.spaceEvenly {
    justify-content: center!important;
    gap: 2%;
}

.homepageService {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 32%;
    background-color: rgb(14, 14, 14);
    padding: 2%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}