.portfolioHeading {
    color: black;
    background-color: transparent;
    font-family: 'Instrument Sans';
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    line-height: 5rem;
    margin-top: 23vh;
    margin-bottom: 14vh;
}

.portfolioPageBanner {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolioColumnHeading {
    width: 80%;
    color: white;
    background-color: transparent;
    font-family: 'Instrument Sans';
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    line-height: 2.5rem;
}

.portfolioColumnParagraph {
    width: 80%;
    color: white;
    background-color: transparent;
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-top: 3vh;
    opacity: 0.9
}

@media (max-width: 590px) {
    .portfolioHeading {
        font-size: 4rem;
    }

    .portfolioColumnHeading {
        font-size: 2.5rem;
    }

    .portfolioColumnParagraph {
        margin-top: 2vh;
        font-size: 1.625rem;
    }
}

@media (max-width: 500px) {
    .portfolioHeading {
        font-size: 3.2rem;
    }

    .portfolioColumnHeading {
        font-size: 2rem;
    }

    .portfolioColumnParagraph {
        font-size: 1.3rem;
    }

    .portfolioButton {
        font-size: 1rem;
    }
}

.portfolioCover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolioCoverImage {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.portfolioCoverText {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolioButton {
    font-family: "Instrument Sans";
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
    margin-top: 3vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    border: none;
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    background-color: red;
    transition: scale 0.2s;
}

.portfolioButton:hover {
    scale: 0.95;
    cursor: pointer;
}