.preSection2 {
    width: 100%;
    background-color: rgb(14, 14, 14);
}

.preSection {
    width: 100%;
    padding-top: 78vh;
    background-color: rgb(14, 14, 14);
}

.homepageContactSectionWrapper {
    transform: translateY(-15vh);
    background-color: #FFF5E6;
}

.homepageContactSectionWrapper2 {
    transform: translateY(-10vh);
    background-color: #FFF5E6;
}