.ServicesPageServices {
    background-color: black!important;
    width: 100%;
}

.servicesPageFirstService {
    margin-top: 6vh;
}

.servicesPageServiceWrapper {
    background-color: black!important;
}

.servicesPageServiceFromLeft {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: transparent;
}

.servicesPageServiceFromLeftImage {
    background-color: rgb(194, 194, 194);
    width: 40vw;
    height: 40vw;
    margin-left: 10vw;
    margin-top: 4vh;
    object-fit: cover;
}

.servicesPageServiceFromLeftHeading {
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 700;
    width: 46.5%;
    margin-left: 53.5%;
    font-size: 4rem;
    line-height: 3.5rem;
    margin-top: 7vh;
    text-align: left;
    background-color: transparent;
}

.servicesPageServiceFromLeftColumn {
    position: absolute;
    right: 10vw;
    width: 80vw;
    background-color: transparent;
}

.servicesPageServiceFromLeftParagraph {
    opacity: 0.9;
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 2vh;
    width: 35vw;
    margin-left: 43vw;
    background-color: black;
}

.servicesPageServiceFromRight {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: black;
}

.servicesPageServiceFromRightImage {
    background-color: rgb(194, 194, 194);
    width: 40vw;
    height: 40vw;
    position: absolute;
    right: 0;
    margin-right: 10vw;
    margin-top: 4vh;
    object-fit: cover;
}

.servicesPageServiceFromRightHeading {
    width: 50%;
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 700;
    font-size: 4rem;
    line-height: 3.5rem;
    margin-top: 7vh;
    text-align: left;
    background-color: transparent;
}

.servicesPageServiceFromRightColumn {
    position: absolute;
    left: 10vw;
    width: 80vw;
    background-color: transparent;
}

.servicesPageServiceFromRightParagraph {
    opacity: 0.9;
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 2vh;
    width: 35vw;
    margin-right: 23vw;
    background-color: black;
}

.servicesPageServiceButton {
    font-family: "Instrument Sans";
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
    margin-top: 4.5vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    border: none;
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    background-color: red;
    transition: scale 0.2s;
}

.serviceRight {
    margin-left: 43vw;
}

.servicesPageServiceButton:hover {
    scale: 0.95;
    cursor: pointer;
}

.servicesPageServiceMobile {
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    background-color: black;
}

.servicesPageMobileImage {
    background-color: black;
    width: 100%;
    height: 80vw;
}

.servicesPageMobileHeading {
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.5rem;
    margin-top: 2vh;
    background-color: black;
}

.servicesPageMobileParagraph {
    opacity: 0.9;
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 2vh;
    background-color: black;
}

@media (max-width: 500px) {
    .servicesPageMobileHeading {
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
}

@media (max-width: 900px) {
    .servicesPageServiceButton {
        margin-top: 2.5vh;
    }

    .smallerSpacing {
        line-height: 0.8rem;
    }

    .serviceLastMobile {
        margin-bottom: 10vh;
    }
}