.singleServicePageBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleServiceHeading {
    color: black;
    background-color: transparent;
    font-family: 'Instrument Sans';
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    line-height: 5rem;
    margin-top: 23vh;
}

.singleServiceSubheading {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 1.3rem;
    width: 65%;
    text-align: center;
    margin-top: 3vh;
    opacity: 0;
    animation: scrollIn 1s 0s ease forwards;
    margin-bottom: 16vh;
}

.singleServiceOurPackagesSubheading {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 1.625rem;
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin-top: 3vh;
    opacity: 0;
    animation: scrollIn 1s 0s ease forwards;
    margin-bottom: 8vh;
}

.singleServiceOurPackages {
    padding: 2vh;
    width: 90%;   
    background-color: transparent;
}

.singleServiceOurPackagesHeading {
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    margin-top: 14vh;
    background-color: transparent;
}

.singleServiceColumns {
    background-color: transparent;
    width: 84%;
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0vh;
}

.singleServicePackage {
    width: 30%;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 3%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    position: relative;
    z-index: 2;
}

.singleServicePackageMiddle {
    width: 30%;
    background-color: transparent;
    border: 1px solid rgb(255, 100, 100);;
    border-radius: 20px;
    padding: 3%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    position: relative;
    z-index: 2;
}

@keyframes scrollIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.singleServicePackageHeading {
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    background-color: transparent;
}

.singleServicePackageNumber {
    color: rgb(255, 100, 100);
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
    background-color: transparent;
    transform: translateY(-10px);
}

.singleServicePackageSubheading {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
    background-color: transparent;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.singleServicePackageFrom {
    color: white;
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 1.625rem;
    text-align: left;
    background-color: transparent;
    margin-top: 5vh;
}

.singleServicePackageFeature {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
    background-color: transparent;
    margin-top: 3vh;
    margin-left: 0.4vw;
}

.singleServicePackageButtonGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0vh;
    background-color: transparent;
    transform: translateY(-10px);
}

.singleServicePackageButton {
    padding: 15px 65px;
    margin-top: 3vh;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 100, 100);
    color: black;
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    transition: scale 0.1s;
}

.singleServicePackageLink {
    background-color: transparent;
}

.singleServicePackageButton:hover {
    scale: 0.95;
    cursor: pointer;
}

.spacingBelow {
    margin-bottom: 24vh;
}

@media (max-width: 845px) {
    .singleServiceHeading {
        font-size: 5rem;
        line-height: 4rem;
    }
}

@media (max-width: 750px) {
    .singleServiceHeading {
        font-size: 2.5rem;
        line-height: 2.6rem;
        margin-top: 15vh;
    }

    .singleServiceOurPackagesHeading {
        font-size: 2rem;
    }

    .singleServicePackageHeading {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    .singleServicePackageFeature {
        font-size: 1rem;
        line-height: 0.6rem;
    }

    .singleServicePackageSubheading {
        font-size: 1rem;
        line-height: 0.6rem;
    }

    .singleServicePackageButton {
        font-size: 1rem;
        padding: 15px;
    }

    .singleServiceColumns {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .singleServicePackage, .singleServicePackageMiddle {
        width: 90%;
        background-color: black!important;
        padding: 20px;
    }
}

.singleServiceBlogSection {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(14, 14, 14);
}

.singleServiceSection2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 14, 14);
}

.singleServiceIcon {
    background-color: transparent;
    transform: translateX(-10px);
    font-size: 1.2rem;
    color: rgb(255, 100, 100);
}

.singleServiceBlogSubheading {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Instrument Sans';
    font-weight: 500;
    font-size: 1.3rem;
    width: 65%;
    text-align: left;
    margin-top: 1vh;
    opacity: 0;
    animation: scrollIn 1s 0s ease forwards;
    margin-bottom: 0vh;
    background-color: rgb(14, 14, 14);
}

.singleServiceBlogHeading {
    background-color: rgb(14, 14, 14);
    margin-bottom: 0vh;
    width: 100%;
}

.spanRed {
    color: rgb(255, 100, 100);
    background-color: transparent;
}

.blogIcon {
    background-color: transparent;
    transform: translateX(-2px);
    font-size: 1.2rem;
    color: rgb(255, 100, 100);
}

.spanBold {
    font-weight: 700;
    background-color: rgb(14, 14, 14);
}

.singleServiceBlogFirstHeading {
    text-align: left!important;
    width: 74%!important;
    margin-left: 13%!important;
    transform: translateX(-2px);
}

.singleServiceBlogHeading2 {
    text-align: left!important;
    width: 65%!important;
    margin-left: 17.5%!important;
    transform: translateX(-2px);
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.extraSpacing {
    margin-top: 3vh;
    line-height: 3rem;
    background-color: black;
}

.singleServiceBlogButton {
    font-family: "Instrument Sans";
    font-weight: 600;
    font-size: 1.3rem;
    align-self: left;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    border: none;
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    background-color: red;
    transition: scale 0.2s;
}

.singleServiceBlogButton:hover {
    scale: 0.95;
    cursor: pointer;
}

.singleServiceBlogButtonWrapper {
    margin-top: 6vh;
    width: 65%;
    background-color: rgb(14, 14, 14)  ;
}

@media (width < 750px) {
    .singleServiceBlogButtonWrapper {
        width: 80%;
    }

    .singleServiceBlogButton {
        width: 100%;
    }

    .singleServiceColumns {
        margin-bottom: 0vh!important;
    }

    .singleServiceOurPackagesSubheading {
        font-size: 1.3rem;
        margin-bottom: 3vh;
        margin-top: 2vh;
    }

    .singleServiceOurPackagesHeading {
        line-height: 2rem;
        margin-top: 5vh;
        width: 80%!important;
        margin-left: 10%!important;
        margin-bottom: 0vh;
    }

    .singleServiceBlogFirstHeading {
        width: 94%!important;
        margin-left: 3%!important;
        margin-top: 3vh!important;
    }

    .singleServiceBlogSubheading {
        width: 80%!important;
        margin-left: 0%!important;
    }

    .singleServiceBlogSection {
        width: 100%!important;
    }

    .singleServicePackageSubheading {
        line-height: 1.3rem;
    }

    .singleServicePackage {
        width: 100%;
    }

    .singleServicePackageMiddle {
        width: 100%;
    }

    .singleServiceIcon {
        margin-left: 5px;
    }

    .spacingChangeSingleService {
        margin-top: 0vh!important;
    }

    .singleServiceLastPackage {
        margin-bottom: 0vh!important;
    }
}