.singleServicePageBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleServiceHeading {
    color: black;
    background-color: transparent;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    line-height: 5rem;
    margin-top: 28vh;
}

.singleServiceSubheading {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    width: 65%;
    text-align: center;
    margin-top: 3vh;
    opacity: 0;
    animation: scrollIn 1s 0s ease forwards;
    margin-bottom: 18vh;
}

.singleServiceOurPackages {
    padding: 2vh;
    width: 90%;   
    background-color: transparent;
}

.singleServiceOurPackagesHeading {
    color: black;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: left;
    background-color: transparent;
}

.singleServiceColumns {
    width: 87%;
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6vh;
}

.singleServicePackage {
    width: 30%;
    background-color: #FFF5E6;
    border: 3px solid gray;
    border-radius: 40px;
    padding: 1.5%;
    position: relative;
    z-index: 2;
}

.singleServicePackageMiddle {
    width: 30%;
    background-color: #FFF5E6;
    border: 3px solid gray;
    border-radius: 40px;
    padding: 1.5%;
    position: relative;
    z-index: 2;
}

@keyframes scrollIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.singleServicePackageHeading {
    color: black;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
    background-color: transparent;
}

.singleServicePackageNumber {
    color: black;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
    background-color: transparent;
    transform: translateY(-10px);
}

.singleServicePackageSubheading {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
    background-color: transparent;
    margin-bottom: 3vh;
}

.singleServicePackageFrom {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-size: 1.625rem;
    text-align: left;
    background-color: transparent;
    margin-top: 5vh;
}

.singleServicePackageFeature {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
    background-color: transparent;
    margin-top: 1vh;
    margin-left: 2vw;
}

.singleServicePackageButtonGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0vh;
    background-color: transparent;
    transform: translateY(-10px);
}

.singleServicePackageButton {
    padding: 15px 85px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    transition: scale 0.1s;
}

.singleServicePackageLink {
    background-color: transparent;
}

.singleServicePackageButton:hover {
    scale: 0.95;
    cursor: pointer;
}

.spacingBelow {
    margin-bottom: 24vh;
}

@media (max-width: 845px) {
    .singleServiceHeading {
        font-size: 5rem;
        line-height: 4rem;
    }
}

@media (max-width: 750px) {
    .singleServiceHeading {
        font-size: 2.5rem;
        line-height: 2.6rem;
        margin-top: 15vh;
    }

    .singleServiceOurPackagesHeading {
        font-size: 2rem;
    }

    .singleServicePackageHeading {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    .singleServicePackageFeature {
        font-size: 1rem;
        line-height: 0.6rem;
    }

    .singleServicePackageSubheading {
        font-size: 1rem;
        line-height: 0.6rem;
    }

    .singleServicePackageButton {
        font-size: 1rem;
        padding: 15px;
    }

    .singleServiceColumns {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .singleServicePackage, .singleServicePackageMiddle {
        width: 90%;
        background-color: black!important;
        padding: 20px;
    }
}

.singleServiceBlogSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.backgroundThing {
    width: 90%;
    height: 100px;
    position: relative;
    z-index: 0;
    transform: translateY(-430px);
    background-color: black;
}